html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Google Adsense が勝手に突っ込んだ広告でデザインが崩れないようにするため */
.adsbygoogle-noablate {
  margin: 16.08px -30px 10px;
}
