html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Google Adsense の広告が自動で差し込まれてもデザインが崩れないようにするため */
@media screen and (max-width:487px) {
  .google-auto-placed {
    margin: 0 -30px;
  }
}

@media screen and (min-width:768px) and (max-width:1119x) {
  .google-auto-placed {
    margin: 0 -30px;
  }
}
